#map {
    height: 400px;
    width: 100%;
}

body {
    background-color: #19c0c7;
    font-family: Mada;
    font-size: 1.5em;
}

#search {
    background-color: #19c0c7;
    margin-bottom: 15px;
    align-content: center;
}

img {
    max-width: 40%;
    border-radius: 4px;
}

.topRightLogout {
    margin-right: 5px;
    border: 0px;
    padding: 0px;
    background-color: #19c0c7;
    color: black;
}

.form-control {
    margin-top: 5px;
}

#searchBoxAdmin {
    margin-top: 56px;
    width: 25%;
}

label {
    margin-bottom: 0px;
}

.modal-header {
    padding: 10px 10px 10px 10px;
}

.modal-title {
    position: bottom;
}

.form-inline {
    margin-bottom: 10px;
}

.searchDiv {
    text-align: center;
    padding-bottom: 48px;
}

#searchButton {
    background-color: #888 !important;
    margin-top: 4em;
    color: #fff;
}

#clearButton {
    background-color: #666 !important;
    margin-top: 4em;
    color: #fff;
}

#addLabButton {
    float: right;
    background-color: #f3323a;
    margin-top: 4em;
    color: #fff;
}


#saveLab {
    background-color: #f3323a !important;
    color: #fff;
    margin-top: 20px;
}

#delete {
    background-color: #f3323a !important;
    color: #fff;
    margin-top: 20px;
}

#cancelDelete {
    margin-top: 20px;
    color: #fff;
    background-color: #888 !important;
}


#cancelAddLab {
    margin-top: 20px;
    color: #fff;
    background-color: #888 !important;
}

#editLab:hover,
#deleteLab:hover {
    cursor: pointer;
}

.modalButtons {
    text-align: right;
}