/*modal*/

#modalNav {
    height: 60px;
    width: 100%;
}

#myModal {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    height: 100%;
    padding: 50px
}

#searchBox {
    margin-top: 20px;
    max-width: 80%;
}

#submit {
    margin: 25px;
    background-color: #f3323a;
    color: white;
}

#dropdownMenuButton {
    background-color: #f3323a;
    color: white;
}

#dropDownBtn {
    outline: none;
    border: none;
    background-color: white;
}

#mainPage {
    margin: 50px;
    height: 100%;
}